body{
font-family:font-family: 'Roboto', sans-serif;;

}


.link-for-navigation {
    text-decoration: none;
    color: #757575;
     ;
}



.webstudio :hover > a{
color:  #2196F3;
text-decoration: none;
}
.tell-for-buyer{
    text-decoration: none;
    color: #757575;

}