.tell-for-buyer{
    text-decoration: none;
    color: #757575;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}
.tell-for-buyer:hover{
color: #2196F3;
text-decoration:none ;

}
.link-for-navigation:focus{
    color: #2196F3;
    text-decoration:none ;

}
.link-for-navigation {
    text-decoration: none;
    color: #212121;
    font-family: Roboto;
}
.link-for-navigation:hover{
    color: #2196F3;
    text-decoration:none ;

}

.text-color{
color: #2196F3;
text-decoration:none ;
}

body{
font-family: Roboto;
color: #212121;
}
.button-for-buy{
    background: #2196F3;
    cursor: pointer;
    width: 200px;
    height: 50px; ;
    border-radius:4px ;
    color: #ffff    ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-for-buy:hover{
    color: #ffff    ;
background: #188CE8;
cursor: pointer;
width: 200px;
height: 50px; ;
border-radius:4px ;
}
.button:hover{
    background: #2196F3;
}
.button-for-buy:focus{
    background: #2196F3;
}
.tell-for-buyer:focus{
    color: #2196F3;
    text-decoration:none ;
}
.information-text{
    width: 270px;
    height: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}
.information{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.text-in-button-in-herov{
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}
.number-one{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px; 
}
.work-in-protgect{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;

}
.uor-comand{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    

}
.footer-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.name-commando{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.information-comand{
letter-spacing: 0.03em;
color: #757575;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
}
.button-fultor{
    width: max-content;
    height: 38px;
}
.button-fultor:focus{
background: #188CE8;
width: max-content;
height: 38px;
color: #ffff;
}
.button-fultor:hover{
    background: #188CE8;
    width: max-content;
    height: 38px;
 color: #ffff;
    
}
.photo-buy{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.photo-buy-information{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
